

<div class="sme-layer-dialog sme-padding-right-lg" style="text-align:right;position:absolute;z-index: 100;right:10px;top:0px;;">
  <button (click)="gotoLibrary()" class="sme-layout-action-bar-item-height sme-button-trigger sme-button-auto-width sme-margin-right-xs">Library</button>
  <button (click)="gotoVnetwork()" class="sme-layout-action-bar-item-height sme-button-trigger sme-button-auto-width sme-margin-right-xs">Virtual Networks</button>
</div>
<sme-master-view #masterView header="Virtual Networks" [showGroup]="false" [showFilter]="false" [showRefresh]="false" [total]="vnetworkData.length"
  [selection]="selectedVnetwork" [filterActive]="false" [groupActive]="false" [showSelection]="false" (clearSelection)="selection=null">
  <sme-action-bar #actionBar>
    <sme-action-button #action text="Add" iconClass="sme-icon sme-icon-add" (execute)="doAction('add')"></sme-action-button>
    <sme-action-button #action text="Remove" iconClass="sme-icon sme-icon-delete" (execute)="doAction('remove')" [enabled]="selectedVnetwork!==null"></sme-action-button>
    <sme-action-button #action text="Back" iconClass="sme-icon sme-icon-back" (execute)="doAction('back')"></sme-action-button>
  </sme-action-bar>
  <sme-data-table #smeDataTable [items]="vnetworkData" [(selection)]="selectedVnetwork">
    <sme-data-table-column field="name" header="Name" sortable="false" [searchable]="false"></sme-data-table-column>
    <sme-data-table-column field="vlanid" header="Vlan ID" sortable="false" [searchable]="false"></sme-data-table-column>
  </sme-data-table>
</sme-master-view>
<sme-confirmation-dialog id="confirmation-dialog"></sme-confirmation-dialog>
<addvnetwork-component id="addvnet-dialog" (doAdd)="addVnet($event)"></addvnetwork-component>